aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
appnope==0.1.4
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
ascii-magic==2.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==25.3.0
Babel==2.13.1
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
bidict==0.23.1
black==25.1.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.10
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.2
catalogue==2.0.9
catboost==1.2
certifi==2025.4.26
cffi==1.16.0
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
cleo==2.1.0
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.1
contourpy==1.1.0
crashtest==0.4.1
cryptography==42.0.8
curses-menu==0.9.0
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.6.7
datasets==2.14.6
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.7
distlib==0.3.9
distro==1.9.0
dnspython==2.6.1
docstring_parser==0.16
dotenv==0.9.9
duckduckgo_search==7.5.5
dulwich==0.22.8
durationpy==0.9
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
eventlet==0.36.1
executing==2.2.0
fairscale==0.4.13
fastai==2.7.13
fastapi==0.115.12
fastapi-cli==0.0.7
fastbook==0.0.29
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.21.1
fastprogress==1.0.3
filelock==3.18.0
findpython==0.6.3
fire==0.5.0
Flask==3.0.0
flatbuffers==25.2.10
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2025.3.2
gensim==4.3.2
gevent==24.2.1
google-api-core==2.24.2
google-auth==2.39.0
google-cloud-aiplatform==1.86.0
google-cloud-bigquery==3.31.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
graphviz==0.20.1
greenlet==3.0.3
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==21.2.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.23.1
ipython==8.15.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==7.8.1
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jellyfish==1.1.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.2.0
json5==0.9.14
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.19.1
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.7
jupyterlab_server==2.25.0
jupytext==1.16.4
jwt==1.3.1
kaggle==1.5.16
kernel-driver==0.0.7
keyring==25.6.0
kiwisolver==1.4.4
kubernetes==32.0.1
langchain==0.3.23
langchain-anthropic==0.3.10
langchain-chroma==0.2.3
langchain-community==0.3.21
langchain-core==0.3.61
langchain-experimental==0.3.4
langchain-google-vertexai==2.0.18
langchain-huggingface==0.1.2
langchain-openai==0.3.14
langchain-text-splitters==0.3.8
langcodes==3.3.0
langgraph==0.4.7
langgraph-checkpoint==2.0.26
langgraph-checkpoint-sqlite==2.0.6
langgraph-prebuilt==0.2.1
langgraph-sdk==0.1.70
langsmith==0.3.42
lightning-utilities==0.9.0
linkify-it-py==2.0.3
llama-index==0.8.5.post1
lxml==5.3.1
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==2.1.2
marshmallow==3.26.1
matplotlib==3.7.1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
mmh3==5.1.0
monotonic==1.6
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
multiprocess==0.70.15
murmurhash==1.0.9
mypy==1.15.0
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nbterm==0.0.13
nest-asyncio==1.6.0
netifaces==0.10.6
networkx==3.1
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.8.5
numpy==2.2.4
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.21.1
openai==1.75.0
openapi-schema-pydantic==1.2.4
opencv-python==4.9.0.80
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
orjson==3.10.18
ormsgpack==1.10.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pathy==0.10.2
patsy==0.5.3
pbs-installer==2025.4.9
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipx==1.7.1
pkginfo==1.12.1.2
platformdirs==4.3.7
plotly==5.15.0
pluggy==1.5.0
poetry==2.1.2
poetry-core==2.1.2
portalocker==2.8.2
posthog==3.25.0
preshed==3.0.8
pretty-errors==1.2.25
primp==0.14.0
prometheus-client==0.17.1
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==13.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycocotools==2.0.8
pycparser==2.22
pydantic==2.11.5
pydantic-extra-types==2.10.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.19.1
PyJWT==2.8.0
pynvim==0.5.1
pyparsing==3.1.0
pypdf==5.4.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pytest==8.2.2
pytest-asyncio==0.23.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.9.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-slugify==8.0.1
python-socketio==5.11.3
pytorch-lightning==2.1.0
pytz==2023.3
PyYAML==6.0.2
pyzmq==26.3.0
rank-bm25==0.2.2
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
replicate==0.11.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.14.7
rpds-py==0.24.0
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.2.2
scipy==1.11.2
seaborn==0.12.2
segtok==1.5.11
Send2Trash==1.8.2
sentence-transformers==4.0.1
sentencepiece==0.1.99
shapely==2.0.7
shellingham==1.5.4
simple-websocket==1.0.0
six==1.17.0
sklearn==0.0.post5
smart-open==6.3.0
smolagents==1.12.0
sniffio==1.3.1
soupsieve==2.7
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.40
srsly==2.4.7
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.0
stockfish==3.28.0
sympy==1.13.3
tabulate==0.9.0
tavily-python==0.5.3
tenacity==9.1.2
term-image==0.7.2
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textual==3.0.0
thinc==8.1.12
threadpoolctl==3.1.0
tiktoken==0.9.0
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.21.1
tokenripper @ file:///private/var/folders/pq/69lxbqs9033c8np0gk9dbb_40000gn/T/tmp.iuqKP1Cekf/tokenripper
tomlkit==0.13.2
torch==2.0.1
torchdata==0.7.1
torchmetrics==1.2.0
torchtext==0.16.2
torchvision==0.15.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.3
trove-classifiers==2025.4.28.22
-e git+ssh://git@github.com/light-magician/trtl.git@9742568f32f683383f5e2cd7e531b83410bbdb2b#egg=trtl
typer==0.15.2
types-python-dateutil==2.8.19.14
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2023.3
uc-micro-py==1.0.3
ujson==5.10.0
uri-template==1.3.0
urllib3==2.4.0
userpath==1.9.2
uvicorn==0.34.2
uvloop==0.21.0
validators==0.34.0
virtualenv==20.30.0
wasabi==1.1.2
watchfiles==1.0.5
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.0
widgetsnbextension==3.6.6
wikipedia==1.4.0
wordcloud==1.9.2
wrapt==1.17.2
wsproto==1.2.0
xattr==1.1.4
xxhash==3.5.0
yake==0.4.8
yarl==1.20.0
zipp==3.21.0
zope.event==5.0
zope.interface==6.4.post2
zstandard==0.23.0
